@model SlogWeb.Models.Comment

<p>Comment for @Model.Post.Title</p>
<dl>
    <dt>Name</dt>
    <dd>@Model.Name</dd>
    <dt>Body</dt>
    <dd>@Model.Body</dd>
    <dt>Created</dt>
    <dd>@Model.CreatedDate</dd>
    <dt>Approved</dt>
    <dd>@Model.Approved</dd>
</dl>
<form asp-action="Approve">
    <button type="submit">Approve</button>
</form>
<form asp-action="Approve" asp-route-approve="false">
    <button type="submit">Unapprove</button>
</form>
<a asp-action="Delete" data-delete data-confirm="Are you sure you want to delete this?" data-return-url="/comments">Delete</a>